<?php

# FILE GENERATED AUTOMATICALLY CHANGES WILL NOT BE MAINTAINED
# RUN $ ./deploy TO REGENERATE
return array (
  0 => 'ar',
  1 => 'bs',
  2 => 'bg',
  3 => 'zh-CN',
  4 => 'hr',
  5 => 'cs',
  6 => 'fr',
  7 => 'de',
  8 => 'el',
  9 => 'hu',
  10 => 'id',
  11 => 'ja',
  12 => 'pl',
  13 => 'pt-PT',
  14 => 'ro',
  15 => 'ru',
  16 => 'es-ES',
  17 => 'tr',
  18 => 'uk',
  19 => 'vi',
);
